# Welcome to Yingming Mao's Academic Site Configuration

# Basic Site Settings
locale                   : "en-US"
site_theme               : "default"
title                    : "Yingming Mao's Home Page" # 搜索引擎显示的蓝色标题
name                     : "Yingming Mao (茅英明)"    # 侧边栏显示的姓名
title_separator          : "-"
description              : "Yingming Mao (茅英明) - Ph.D. Student in AI Infra & Control Science at XJTU/SII"
url                      : "https://yingming-mao.github.io" 
baseurl                  : "" 
repository               : "Yingming-Mao/yingming-mao.github.io"

# Site Author - Controls the Sidebar
author:
  # Biographic information
  avatar            : "bio-photo.jpg" 
  name              : "Yingming Mao (茅英明)"
  pronouns          : 
  bio               : "Ph.D. Student @ XJTU & SII. Researching AI Infra, Data Center Networks, and Power Systems."
  location          : "Shanghai & Xi'an, China"
  employer          : "Xi'an Jiaotong University"
  uri               : 
  email             : "maoyingming@sii.edu.cn" 

  # Academic websites
  academia          : 
  arxiv             : "https://arxiv.org/search/?query=Yingming+Mao&searchtype=author"
  googlescholar     : "8KoZ73UAAAAJ" # 填入你的 ID 即可，插件会自动生成链接
  inspire-hep       : 
  impactstory       : 
  orcid             : "0009-0002-3715-0961" # 填入 ID 即可
  semantic          : 
  ssrn              : 
  pubmed            : 
  researchgate      : 
  scopus            : 
  zotero            : 


  # Repositories and software development
  bitbucket         : 
  codepen           : 
  dribbble          : 
  github            : "Yingming-Mao"
  kaggle            : 
  stackoverflow     : 

  # Social media
  zhihu             : 
  weibo             : 
  twitter           : 

# Publication Category
publication_category:
  books:
    title: 'Books'
  manuscripts:
    title: 'Journal Articles'    
  conferences:
    title: 'Conference Papers'
  preprints:
    title: 'Preprints & Working Papers'

# Site Settings
teaser              : 
breadcrumbs         : false 
words_per_minute    : 160
future              : true
read_more           : "disabled" 
talkmap_link        : false      
comments:
  provider          : false 

atom_feed:
  hide              : false
  path              : 

# SEO Related
google_site_verification : # 如果你有了 Google Search Console 的验证码，填在这里
bing_site_verification   :

# Analytics
analytics:
  provider           : "false" 

# Reading Files
include:
  - .htaccess
  - _pages
  - files
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - .asset-cache
  - .bundle
  - .github
  - .jekyll-assets-cache
  - .sass-cache
  - assets/js/_main.js
  - assets/js/plugins
  - assets/js/vendor
  - CHANGELOG
  - Capfile
  - config
  - Dockerfile
  - Gemfile
  - Gruntfile.js
  - gulpfile.js
  - LICENSE
  - local
  - log
  - node_modules
  - package.json*
  - Rakefile
  - README
  - tmp
  - vendor
keep_files:
  - .git
  - .svn
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false

# Collections
collections:
  teaching:
    output: true
    permalink: /:collection/:path/
  publications:
    output: true
    permalink: /:collection/:path/
  portfolio:
    output: true
    permalink: /:collection/:path/
  talks:
    output: true
    permalink: /:collection/:path/

# Defaults
defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true
  - scope:
      path: ""
      type: teaching
    values:
      layout: single
      author_profile: true
      share: true
  - scope:
      path: ""
      type: publications
    values:
      layout: single
      author_profile: true
      share: true
  - scope:
      path: ""
      type: talks
    values:
      layout: talk
      author_profile: true
      share: true

# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed 

# Outputting
permalink: /:categories/:title/
timezone: Asia/Shanghai

# Plugins
plugins:
  - jekyll-seo-tag
  - jekyll-feed
  - jekyll-gist
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-redirect-from
  - jemoji

whitelist:
  - jekyll-seo-tag
  - jekyll-feed
  - jekyll-gist
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-redirect-from
  - jemoji

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

compress_html:
  clippings: all
  ignore:
    envs: development