# Welcome to Yingming Mao's Academic Site Configuration

# Basic Site Settings
locale                   : "en-US"
site_theme               : "default"
title                    : "Yingming Mao (茅英明)"
title_separator          : "-"
name                     : &name "Yingming Mao"
description              : &description "Ph.D. Student in AI Infra & Control Science at XJTU/SII"
url                      : "https://yingming-mao.github.io" 
baseurl                  : "" 
repository               : "Yingming-Mao/yingming-mao.github.io"

# Site Author - Controls the Sidebar
author:
  # Biographic information
  avatar            : "bio-photo.jpg" # 确保在 images/ 文件夹下有这张照片
  name              : "Yingming Mao (茅英明)"
  pronouns          : # "he/him"
  bio               : "Ph.D. Student @ XJTU & SII. Researching AI Infra, Data Center Networks, and Power Systems."
  location          : "Shanghai & Xi'an, China"
  employer          : "Xi'an Jiaotong University"
  uri               : 
  email             : "maoyingming@sii.edu.cn" 

  # Academic websites
  academia          : 
  arxiv             : "https://arxiv.org/search/?query=Yingming+Mao&searchtype=author"
  googlescholar     : "https://scholar.google.com/citations?user=8KoZ73UAAAAJ&hl=en" # 这是你原代码里的 ID，如有变更请修改
  inspire-hep       : 
  impactstory       : 
  orcid             : "https://orcid.org/my-orcid?orcid=0009-0002-3715-0961"
  semantic          : 
  ssrn              : 
  pubmed            : 
  researchgate      : 
  scopus            : 
  zotero            : 


  # Repositories and software development
  bitbucket         : 
  codepen           : 
  dribbble          : 
  github            : "Yingming-Mao"
  kaggle            : 
  stackoverflow     : 

  # Social media
  zhihu             : # "在下"
  weibo             : 
  twitter           : 

# Publication Category
publication_category:
  books:
    title: 'Books'
  manuscripts:
    title: 'Journal Articles'    
  conferences:
    title: 'Conference Papers'
  preprints:
    title: 'Preprints & Working Papers' # 专门放置你的 NSDI/INFOCOM (arXiv) 论文

# Site Settings
teaser              : 
breadcrumbs         : false 
words_per_minute    : 160
future              : true
read_more           : "disabled" 
talkmap_link        : false      
comments:
  provider          : false 

atom_feed:
  hide              : false
  path              : 

# SEO Related
google_site_verification :
bing_site_verification   :

# Analytics
analytics:
  provider           : "false" 

# Reading Files
include:
  - .htaccess
  - _pages
  - files
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - .asset-cache
  - .bundle
  - .github
  - .jekyll-assets-cache
  - .sass-cache
  - assets/js/_main.js
  - assets/js/plugins
  - assets/js/vendor
  - CHANGELOG
  - Capfile
  - config
  - Dockerfile
  - Gemfile
  - Gruntfile.js
  - gulpfile.js
  - LICENSE
  - local
  - log
  - node_modules
  - package.json*
  - Rakefile
  - README
  - tmp
  - vendor
keep_files:
  - .git
  - .svn
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false

# Collections
collections:
  teaching:
    output: true
    permalink: /:collection/:path/
  publications:
    output: true
    permalink: /:collection/:path/
  portfolio:
    output: true
    permalink: /:collection/:path/
  talks:
    output: true
    permalink: /:collection/:path/

# Defaults
defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true
  - scope:
      path: ""
      type: teaching
    values:
      layout: single
      author_profile: true
      share: true
  - scope:
      path: ""
      type: publications
    values:
      layout: single
      author_profile: true
      share: true
  - scope:
      path: ""
      type: talks
    values:
      layout: talk
      author_profile: true
      share: true

# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed 

# Outputting
permalink: /:categories/:title/
timezone: Asia/Shanghai

# Plugins
plugins:
  - jekyll-feed
  - jekyll-gist
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-redirect-from
  - jemoji

whitelist:
  - jekyll-feed
  - jekyll-gist
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-redirect-from
  - jemoji

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

compress_html:
  clippings: all
  ignore:
    envs: development
